<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/navigation.ejs %>

    <h3><%= videodata.categoryName %></h3>

    <ul>
      <%  %>
      <li>foo</li>
      <%  %>
    </ul>

  </body>
</html>
